.main
    width: 300px
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px 20px

.data
    padding: 10px 15px
    text-align: center
    h1, h2
        margin: 5px
    table
        margin: 10px auto
        font-size: 15px
        font-weight: 600
        border-collapse: collapse
        tr
            td
                border: 1px solid black
                padding: 5px 10px

.crestHolder
    padding: 10px 15px
